div.services-section {
  margin-top: 150px;
  margin-bottom: 100px !important;

  h2.services-title {
    margin-bottom: 50px;
    color: var(--bs-primary-color);
  }
}

.services-cards {
  margin: auto 12px;

  .service-card {
    position: relative;
    width: 350px;
    height: 320px;
    border-radius: 10px !important;
    transition: margin-top ease 0.2s;

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      opacity: 0;
      height: 100%;
      width: 100%;
      border-radius: 10px !important;
      padding: 0px 40px 24px;

      div.service-content {

        p,
        strong {
          color: var(--bs-secondary-color);
        }

        strong {
          font-size: 18px;
        }

        p {
          font-weight: 300;
        }

        .divider {
          margin: 5px 0px !important;
          background-color: var(--bs-secondary-color) !important;
        }
      }
    }
  }

  .service-card:hover {
    margin-top: -20px;

    img {
      opacity: 0.3;
    }

    .overlay {
      background-color: var(--bs-primary-color);
      opacity: 0.6;

      div.service-content {
        opacity: 1;
      }
    }
  }
}

@media(max-width: 767.98px) {
  div.services-section {
    margin-top: 100px !important;
    margin-bottom: 50px !important;
  }

  .services-cards {
    .service-card {
      width: 300px !important;
      height: 270px !important;
    }

    .service-card:not(:first-child) {
      margin-top: 25px;
    }

    .service-card:hover {
      margin-top: -5px !important;
    }
  }
}

@media (max-width: 991.98px) {
  .services-cards {
    display: flex;
    justify-content: center !important;

    .service-card {
      width: 70%;
      height: 70%;
    }

    .service-card:not(:first-child) {
      margin-top: 25px;
    }

    .service-card:hover {
      margin-top: -5px !important;
    }
  }
}