div.services-section {
  margin-top: 170px;
  margin-bottom: 100px !important;
  h2.services-title {
    margin-bottom: 50px;
    color: var(--bs-primary-color);
    font-size: 45px;
  }
}
.services-cards {
  margin: auto 12px;
  .service-card {
  width : 350px;
  height: 320px;
  border-radius: 10px !important;
  }
}