h1,
h2,
label,
p,
strong {
  color: var(--bs-contact-color) !important;
}

.divider {
  background-color: var(--bs-contact-color) !important;
  margin: 10px 0px;
}

div.contact-title-container {
  padding: 0px 12px !important;

  h2.contact-title {
    margin-bottom: 45px;
  }
}

.form-input-group {
  margin-bottom: 20px;

  .contact-form-input {
    border: 0;
    background-color: var(--bs-lighter-primary-color);
    border-bottom: 2px solid var(--bs-contact-color);
    border-radius: 0px !important;
    color: var(--bs-contact-color);
  }

  .contact-form-input:focus {
    box-shadow: none !important;
  }
}

.contact-form-btn {
  background-color: var(--bs-contact-color);
  color: var(--bs-lighter-primary-color);
  margin-top: 30px;
}

button.contact-form-btn:hover {
  background-color: var(--bs-darker-secondary-color);
  color: var(--bs-light-color);
  box-shadow: none;
}

.button-group {
  margin-top: 50px;

  .contact-btn {
    border-radius: 100%;
    border: solid 1.5px var(--bs-contact-color);
    margin-right: 15px;
    i {
      color: var(--bs-contact-color);
    }
  }

  div.contact-detail {
    display: none;
    font-size: 12px;
    // font-weight: 300;
    color: var(--bs-lighter-primary-color);
    background-color: var(--bs-light-color);
    transition: margin-top ease 0.2s;
    margin-top: 5px;
    border-radius: 5px;
    margin-left: 20px;
    padding: 5px;
    position: absolute;
  }

  .contact-btn:hover {
    background-color: var(--bs-contact-color);
    color: var(--bs-lighter-primary-color);

    i {
      color: var(--bs-lighter-primary-color);
    }
  }

  .contact-btn:hover~div.contact-detail {
    display: block;
  }
}

@media(max-width: 767.98px) {
  // 
}
@media(max-width: 991.98px) {
  .contact-title-container,
  .contact-title-field {
    padding: 0px !important;
  }

  .button-group {
    margin-top: 30px;
  }  
  .contact-form {
    margin-top: 60px;
  }
  .contact-form-btn {
    margin-top: 10px;
  }
}