.nav-link,
.navbar-brand,
.dropdown-menu a {
  color: var(--bs-secondary-color);
}

.navbar-brand {
  font-weight: 700 !important;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-nav {
  .nav-item {
    margin: auto 10px;
  }
}

nav.navbar {
  padding: 16px 93px;
  position: fixed;
  z-index: 9;
  width: 100%;
}

.nav-link.active,
.nav-link:hover,
.navbar-brand:hover {
  color: var(--bs-light-color) !important;
}

.dropdown-menu a:hover {
  color: var(--bs-primary-color);
}

.navbar-main,
.dropdown-menu {
  background-color: var(--bs-primary-color);
}

.dropdown-menu {
  border: none;
}

.nav-item.show #navbarDropdown {
  color: var(--bs-light-color);
}

#childDropdownMenu .dropdown-item {
  font-size: 14px !important;
}

.navbar-toggler-icon-custom {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--bs-secondary-color);
}

// mine
@media (max-width: 767.98px) {
  nav.navbar {
    padding: 10px 35px !important;
  }

  .navbar-brand {
    font-size: 18px;
  }
}

@media (max-width: 991.98px) {
  nav #navbarNav,
  .dropdown-menu {
    text-align: right;
  }
}

// sidebar
@media (min-width: 992px) {
  nav #navbarNav {
    display: flex;
    justify-content: end;
  }
}