.footer-img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.copyright-container {
  background-color: var(--bs-copyright-color);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;

  span {
    font-size: 14px;
    font-weight: 300;
  }
}

li {
  font-size: 16px;
  font-weight: 300;
}

span,
a,
li,
strong {
  color: var(--bs-secondary-color);
}

strong.footer-content {
  font-size: 20px;
}

ul {
  padding-left: 0px;

  li {
    list-style-type: none;
    line-height: 28px;
  }
}


h2 {
  font-size: 30px;
  ;
}

.divider {
  background-color: var(--bs-secondary-color);
  margin: 5px 0px !important;
}

.divider.footer {
  width: 50%;
  margin-left: 0px;
}

@media(max-width: 767.98px) {
  strong.footer-content {
    font-size: 16px;
  }

  span,
  a,
  li,
 p{
  font-size: 14px;
 }
}