:root {
  --bs-primary-color: #282828;
  --bs-secondary-color: #9DBD8B;
  --bs-contact-color: #B4CDA6;
  --bs-darker-secondary-color: #508234;
  --bs-lighter-primary-color: #363636;
  --bs-about-color: #111111;
  --bs-light-text: #FFFFFF;
  --bs-copyright-color: #222222;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
button.btn {
  font-family: 'Lato', sans-serif;
  color: var(--bs-secondary-color)
}

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

p.footer-text,
p.contact-text,
p.about-text {
  font-weight: 300 !important;
}

.mb-1 {
  margin-bottom: 15px;
}

.mb-2 {
  margin-bottom: 25px !important;
}

.section {
  margin: auto 81px;
}

div.hero-section,
div.about-section {
  height: 100vh;
  display: flex;
  align-items: center;
}

.divider {
  height: 2px;
  margin: 15px auto;
}