:root {
  --bs-primary-color: #282828;
  --bs-secondary-color: #9DBD8B;
  --bs-contact-color: #B4CDA6;
  --bs-darker-secondary-color: #508234;
  --bs-lighter-primary-color: #363636;
  --bs-about-color: #111111;
  --bs-light-color: #FFFFFF;
  --bs-copyright-color: #222222;
}

// fonts area
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
button.btn {
  font-family: 'Lato', sans-serif;
  color: var(--bs-secondary-color)
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

p.footer-text,
p.contact-text,
p.about-text {
  font-weight: 300 !important;
}

h1.hero-tagline,
h2.services-title,
h2.contact-title {
  font-size: 45px;
}

strong.contact-us,
strong.company-name {
  font-size: 28px;
}

// margins area
.mb-1 {
  margin-bottom: 15px;
}

.mb-2 {
  margin-bottom: 25px !important;
}

// sections area
.section {
  margin: auto 81px;
}

div.hero-section,
div.about-section {
  height: 100vh;
  display: flex;
  align-items: center;
}

// another attributes
.divider {
  height: 2px;
  margin: 15px auto;
}

button.main-btn {
  width: 225px;
  border: none;
  box-shadow: 0px 0px 4px 0px var(--bs-secondary-color);
  border-radius: 35px;
  height: 40px;
}

@media (max-width: 575.98px) {}


@media (max-width: 767.98px) {

  div.hero-section,
  div.about-section {
    height: 800px !important;
  }

  h1.hero-tagline,
  h2.services-title,
  h2.contact-title {
    font-size: 25px;
  }

  strong.contact-us,
  strong.company-name {
    font-size: 20px;
  }

  .mobile-about-content,
  .hero-image-container {
    margin-top: 30px;
  }

  .section {
    margin: auto 25px !important;
  }

  button.main-btn {
    width: 150px;
  }
}

@media (max-width: 991.98px) {
  .section {
    margin: auto 60px;
  }

  div.hero-section,
  div.about-section {
    height: 1100px;
  }

  div.hero-section,
  div.about-section {
    align-content: flex-start;
  }

  .mobile-about-content,
  .hero-image-container {
    margin-top: 50px;
  }
}